<div class="container">
    <h2 class="text-center">Google drive</h2>

    <!-- Login/Logout Section -->
    <div class="text-center">
        <button class="btn btn-primary m-2" (click)="login()" aria-label="Login with Google">Login with Google</button>
        <button class="btn btn-danger m-2" (click)="logout()" aria-label="Logout & Revoke Access">Logout & Revoke Access</button>
    </div>

    <!-- Access Token Display -->
    <div *ngIf="accessToken" class="alert alert-info mt-3">
        <div class="d-flex justify-content-between">
            <strong>Access Token:</strong>
            <i class="bi cursor-pointer" [ngClass]="showAccessToken ? 'bi-eye-slash' : 'bi-eye'" (click)="showAccessToken = !showAccessToken"></i>
        </div>
        <p class="text-break" *ngIf="showAccessToken">{{ accessToken }}</p>
        <div class="d-flex" *ngIf="!showAccessToken">
            <i class="bi bi-record-fill"></i>
            <i class="bi bi-record-fill"></i>
            <i class="bi bi-record-fill"></i>
            <i class="bi bi-record-fill"></i>
        </div>
    </div>

    <!-- File Upload Section -->
     <div *ngIf="accessToken" class="mt-4">
        <h3 class="text-center">Upload File to Google Drive</h3>
        <div class="mt-3">
            <input type="file" class="form-control mb-2" id="file-upload" (change)="onFileSelected($event)" aria-label="Select file to upload">
            <button class="btn btn-success mt-2 w-100" (click)="uploadFile()" [disabled]="!selectedFile || isRequestInProgress" aria-label="Upload selected file">Upload</button>
        </div>

        <!-- Upload Success Message -->
        <div *ngIf="uploadResponse" class="upload-success mt-3 text-center text-success">
            <h3>Upload Success!</h3>
            <p><strong>File ID:</strong> {{ uploadResponse.id }}</p>
        </div>
    </div>

    <!-- File List Section -->
    <div *ngIf="files.length > 0">
        <h3 class="text-center mt-3">Google Drive Files</h3>
        <ul class="list-group mt-3">
            <li *ngFor="let file of files" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-9">
                    <p class="m-0">{{ file.name }}</p>
                    <p class="m-0">({{ file.mimeType }})</p>
                </div>
                <div class="col-3">
                    <button class="btn btn-sm btn-primary m-2" [disabled]="isRequestInProgress" (click)="downloadFile(file.id, file.name)" aria-label="download file">Download</button>
                    <button class="btn btn-sm btn-danger m-2" [disabled]="isRequestInProgress" (click)="deleteFile(file.id)" aria-label="Delete file">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>
